{% load util %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Tabla de productos</h1>
    {% get_all_productos as productos %}
    <table>
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
           
            {% for producto in productos %}
            <tr>
                <td>{{producto.nombre | agregar_guion}} </td>
                <td>{{producto.precio }} </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>

</html>