<div class="container">
    <h2>The List Customers</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers">
                <th scope="row">{{c.id}}</th>
                <td>{{c.firstName}}</td>
                <td>{{c.lastName}}</td>
                <td>{{c.email}}</td>
            </tr>
        </tbody>
    </table>
</div>