.mat-form-field {
    width: 100%;
}

.center {
    text-align: center;
    padding-top: 40px
}

.mat-card {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white
}

.fondo {
    background-color: rgb(233, 233, 233);
    min-height: 100vh;
    padding: 50px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}