<div class="container">
    <h2>Crear Customer</h2>
    <form>
        <div class="mb-3">
            <label for="firstName" class="form-label">Nombres</label>
            <input [(ngModel)]="firstName" name="firstName" type="text" class="form-control" id="firstName"
                placeholder="Digite Nombres">
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Apellidos</label>
            <input [(ngModel)]="lastName" name="lastName" type="text" class="form-control" id="lastName"
                placeholder="Digite Apellidos">
        </div>

        <div class="form-group">
            <label for="email">Correo Electronico</label>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email1"
                placeholder="Digite Email">
        </div>

        <button type="submit" class="btn btn-primary" (click)="addCustomer()">
            Crear
        </button>
    </form>
</div>