<div>
  <!--
    Agrego el componente de botones, con los eventos: inicio de sesión para mostrar el formulario de inicio de sesión
    y cierre de sesión para volver al contenido de bienvenida
  -->
  <app-buttons
    (loginEvent)="showComponent('login')"
    (logoutEvent)="showComponent('welcome')"
  />
  <app-welcome-content *ngIf="componentToShow == 'welcome'" />
  <app-login-form (onSubmitRegisterEvent)="onRegister($event)" *ngIf="componentToShow == 'login'"  />
  <app-auth-content *ngIf="componentToShow == 'messages'" />
</div>
