.example-button-row {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 490px;
  }

  .example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .mid-button{
      margin-left: 1rem;
      margin-right: 1rem;
  }